body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

* {
  font-family: "Roboto";
}

#outer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #388E3C; /* Material color: Green 700 */
}

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  background-color: #4CAF50; /* Material color: Green 500 */
  box-shadow: 0.2em 0.2em 0.4em 0px rgba(0,0,0,0.75);
  border-radius: 0.25em;
  padding: 2em 2em;
}

.test {
  border: 1px solid red;
}
